<div class="main-container">
  <div class="content-wrapper">
    <div class="head-and-link-wrapper">
      <div>Angular bootcamp session exercises</div>
  
      <ul class="ul-list">
        <li class="list-item">
          <a routerLink="/exercise-1"
            >Exercise 1: Click here to display list of items using service.</a
          >
        </li>
        <li class="list-item">
          <a routerLink="/exercise-2"
            >Exercise 2: Click here to see data sharing and lifecycle hooks.</a
          >
        </li>
        <li class="list-item">
          <a routerLink="/exercise-3"
            >Exercise 3: Click here to see reactive form exercise changes.</a
          >
        </li>
      </ul>
    </div>
  
    <div class="router-links">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
